.ks-pagination-links {
font-size:90%;color:#333;font-family:Arial,Helvetica,sans-serif;
position:relative;text-align:left;padding: 5px 12px;color:rgb(128, 128, 128);margin-bottom:15px;line-height:140%;}
.ks-pagination-links ul {display:inline;padding-left:0px;margin-left:0px}
.ks-pagination-links li {display:inline;list-style:none;text-align:center; margin:2px;}
.ks-pagination-links li a {font-weight: 100;font-size: .8em!important;text-decoration: none!important; border: 1px #ccc solid;padding: 3px 6px 3px 6px!important;}
.ks-pagination-links li a.last {border:2px #ccc solid;}
.ks-pagination-links li a:hover {background-color: #0098D4; color: #fff!important; font-weight: bold;border:1px #000 solid;}
.ks-pagination-links li a.last:hover {border:2px #000 solid;}
.ks-pagination-links .current {font-weight: bold;font-size: .8em; text-decoration: none; padding-left: 2px; padding-right: 2px;}
.ks-pagination-links .next a, .ks-pagination-links .previous a {border: 1px #fff solid; padding: 3px 6px 3px 6px;  }
.ks-pagination-links .next a:hover, .ks-pagination-links .previous a:hover {font-weight:normal;}
.ks-pagination-links .total {font-size:80%;}